<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>La_Verita</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a class="active" href="{{ url_for("home")}}">Home</a>
      <a href="{{ url_for("analyze")}}">Analyze by Timeline</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div id="inputform" style="text-align: center">
      <form action="{{ url_for("home")}}" method="post">
        <label class="label-select" for="inputtext">Input Text:</label>
        <input type="text" id="inputtext" name="inputText" placeholder="text">
        <button class="myButton" type="submit">Analysis</button>
      </form>
    </div>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script>
    /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
}
  </script>
</html>