<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>La_Verita</title>
  </head>
  <body>
    <div id="inputform" style="text-align: center">
      <form action="{{ url_for("home")}}" method="post">
        <label for="inputtext">Input Text:</label>
        <input type="text" id="inputtext" name="inputText" placeholder="text">
        <button type="submit">Analysis</button>
      </form>
    </div>
    <a href="{{ url_for("analyze")}}"><button>Analyze Timeline</button></a>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</html>